body {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#arrays {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.array {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.element {
    color: white;
    background-color: black;
    align-content: center;
    text-align: center;
    width: 20px;
}

.index {
    color: black;
    text-align: center;
}

.highlighted-pillar {
    background-color: green;
}