#arrays {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.array {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.element {
    color: white;
    background-color: black;
    align-content: center;
    text-align: center;
    width: 20px;
}

.index {
    color: black;
    text-align: center;
}