body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#arrays {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

.array-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 60%;
}

.alg-info {
    flex-basis: 500px;
}

.array {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.element {
    color: white;
    background-color: black;
    align-content: center;
    text-align: center;
    width: 20px;
}

.index {
    color: black;
    text-align: center;
}

.highlighted-pillar {
    background-color: green;
}

.hidden {
    opacity: 0;
}